* 
{
	margin: 0;
	padding: 0;
}

body
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

header
{
	background: #fff;
	display: flex;
}

#header
{
	display: block;
	width: 50%;
	height: 100%;
}

#locale
{
	width: 50%;
	height: 100%;
	text-align: right;
}

main
{
	background: #eeeeee;
	display:flex;
	flex-direction:column;
	padding:5px;
}

#btn
{
	width: 100%;
	background: #fff;
	margin-top:10px;
}

#post_btn
{
	display: inline-block;
	font-size: 15px;
	border-radius:10px;
    padding: 0 14px;
    line-height: 36px;
    color: #3f8ae0;
    background: rgba(0,28,61,.05);
}

article
{
	background: #fff;
	margin-top:10px;
	width: 100%;
	border-radius:5px;
}


